<div style="border: 1px solid black;">
    <h2>Categories</h2>

    <div>
        Nume categorie: <input [(ngModel)]="numeCategorieNoua" type="text">
        <br>
        <button (click)="saveCategorie()">Save categorie noua</button>
    </div>


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nume categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of categoriile">
                <td>
                    {{c.id}}
                </td>
                <td>
                    {{c.catName}}
                </td>
                <td>
                    <button (click)="deleteCategory(c)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>