<div>
  <nav>
    <ul>
      <li>
        <a routerLink="pizza">Pizza here</a>
      </li>
      <li>
        <a routerLink="pasta">Pasta here</a>
      </li>
      <li>
        <a routerLink="shaorma">Shaorma</a>
      </li>
      <li>
        <a routerLink="categorii">Categorii here</a>
      </li>
      <li>
        <a routerLink="products">Produse</a>
      </li>
    </ul>
  </nav>

  <input type="text">
  <h2 style="color: green;">Primavara application</h2>
  <!-- <app-pizza></app-pizza>

  <app-pasta></app-pasta> -->
  <router-outlet></router-outlet>

  <div style="background-color: gray;">
    <app-footer></app-footer>
  </div>
</div>