<div>
    <h2>{{title}}</h2>


    <!-- <button [class]="clasa">Click me</button>
    {{clasa}} -->


    <button mat-raised-button color="warn" (click)="openDialogAddNewProduct()">ADD NEW PRODUCT</button>

    <!--  -->

    <div style="border: 11px solid green;">
        <h2>Editeaza produs</h2>
        <input type="text" placeholder="Name" [(ngModel)]="produsEditat.name">
        <br>
        <input type="text" placeholder="Price" [(ngModel)]="produsEditat.price">
        <br>
        <select [(ngModel)]="produsEditat.categorieAsociata">
            <!-- <option value="1">Categoria 1</option>
            <option value="2">Gaming</option> -->
            <option *ngFor="let c of categories" [ngValue]="c">{{c.catName}}</option>
        </select>
        <br>
        <button (click)="updateProdus()">Updateaza produs</button>

    </div>


    <table mat-table [dataSource]="products" class="mat-elevation-z8">


        <ng-container matColumnDef="idColumn">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let prod"> {{prod.id}} </td>
        </ng-container>


        <ng-container matColumnDef="nameColumn">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let prod"> {{prod.name}} </td>
        </ng-container>

        <ng-container matColumnDef="priceColumn">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let prod"> {{prod.price}} </td>
        </ng-container>

        <ng-container matColumnDef="categoryColumn">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let prod"> 
                
                {{prod.categorieAsociata?.catName}}
                <span *ngIf="!prod.categorieAsociata">NO CATEGORY</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actionsColumn">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let prod"> 
                
                <button mat-raised-button color="warn" [disabled]="prod.isDeleting" (click)="deleteProdus(prod)">Delete</button>
                <button (click)="editProdus(prod)">Edit</button>
            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Price range</th>
                <th>Price range v2</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- // for executed once again for every product
            products - 100 => 100+100 -->
            <tr *ngFor="let prod of products">
                <td>{{prod.id}}</td>
                <td>{{prod.name}}</td>
                <td>{{prod.price}}</td>
                <td>
                    <span *ngIf="prod.price && prod.price < 400; else templateExpensive">CHEAP</span>
                    <ng-template #templateExpensive>
                        <span>EXPENSIVE</span>
                    </ng-template>
                    <!-- <span *ngIf="prod.price && prod.price >= 400">EXPENSIVE</span> -->
                </td>
                <td>
                    {{prod.priceRange}}
                </td>
                <td>
                    {{prod.categorieAsociata?.catName}}
                    <span *ngIf="!prod.categorieAsociata">NO CATEGORY</span>
                </td>
                <td>
                    <!-- *ngIf="!isDeleting" -->
                    <button [disabled]="prod.isDeleting" (click)="deleteProdus(prod)">Delete</button>
                    <button (click)="editProdus(prod)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>